source/main/ingest/fixity/stateMachineDefinition.json
{
    "Comment": "Ingest Fixity state machine auto restores s3 object from GLAICER or DEEP_ARCHIVE and to run checksum",
    "StartAt": "Check restore status",
    "States": {
        "Check restore status": {
            "Type": "Task",
            "Resource": "${x0}",
            "Parameters": {
                "operation": "check-restore-status",
                "uuid.$": "$.uuid",
                "status.$": "$.status",
                "progress.$": "$.progress",
                "input.$": "$.input",
                "data.$": "$.data"
            },
            "Next": "Restore completed?",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 4,
                    "BackoffRate": 1.2
                }
            ]
        },
        "Restore completed?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.status",
                    "StringEquals": "COMPLETED",
                    "Next": "Compute checksum"
                },
                {
                    "Variable": "$.data.restore.tier",
                    "StringEquals": "Expedited",
                    "Next": "Wait 4 mins"
                },
                {
                    "And": [
                        {
                            "Variable": "$.data.restore.storageClass",
                            "StringEquals": "DEEP_ARCHIVE"
                        },
                        {
                            "Variable": "$.data.restore.tier",
                            "StringEquals": "Bulk"
                        }
                    ],
                    "Next": "Wait 12 hrs"
                }
            ],
            "Default": "Wait 4 hrs"
        },
        "Wait 4 mins": {
            "Type": "Wait",
            "Seconds": 240,
            "Next": "Check restore status"
        },
        "Wait 4 hrs": {
            "Type": "Wait",
            "Seconds": 14400,
            "Next": "Check restore status"
        },
        "Wait 12 hrs": {
            "Type": "Wait",
            "Seconds": 43200,
            "Next": "Check restore status"
        },
        "Compute checksum": {
            "Type": "Task",
            "Resource": "${x0}",
            "Parameters": {
                "operation": "compute-checksum",
                "uuid.$": "$.uuid",
                "status.$": "$.status",
                "progress.$": "$.progress",
                "input.$": "$.input",
                "data.$": "$.data"
            },
            "Next": "More data?",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 4,
                    "BackoffRate": 1.2
                }
            ]
        },
        "More data?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.status",
                    "StringEquals": "COMPLETED",
                    "Next": "Validate checksum"
                }
            ],
            "Default": "Compute checksum"
        },
        "Validate checksum": {
            "Type": "Task",
            "Resource": "${x0}",
            "Parameters": {
                "operation": "validate-checksum",
                "uuid.$": "$.uuid",
                "status": "NOT_STARTED",
                "progress": 0,
                "input.$": "$.input",
                "data.$": "$.data"
            },
            "End": true,
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 4,
                    "BackoffRate": 1.2
                }
            ]
        }
    }
}
