source/gt-labeling/stateMachineDefinition.json
{
    "Comment": "Create SageMaker Ground Truth custom labeling job and index the results",
    "StartAt": "Sanity check",
    "States": {
        "Sanity check": {
            "Type": "Pass",
            "Result": "create-dataset",
            "ResultPath": "$.operation",
            "Next": "Create dataset"
        },
        "Create dataset": {
            "Type": "Task",
            "Resource": "${x0}",
            "Next": "No dataset?",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 2,
                    "BackoffRate": 1.2
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Dataset error"
                }
            ]
        },
        "Dataset error": {
            "Type": "Task",
            "Resource": "${x0}",
            "Next": "Fail"
        },
        "No dataset?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.status",
                    "StringEquals": "NO_DATA",
                    "Next": "Completed"
                }
            ],
            "Default": "Create labeling job"
        },
        "Create labeling job": {
            "Type": "Task",
            "Resource": "${x0}",
            "Parameters": {
                "operation": "create-labeling-job",
                "uuid.$": "$.uuid",
                "status": "NOT_STARTED",
                "progress": 0,
                "input.$": "$.next"
            },
            "Next": "Wait for labeling",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 2,
                    "BackoffRate": 1.2
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Labeling error"
                }
            ]
        },
        "Wait for labeling": {
            "Type": "Wait",
            "Seconds": 180,
            "Next": "Check labeling status"
        },
        "Check labeling status": {
            "Type": "Task",
            "Resource": "${x0}",
            "Parameters": {
                "operation": "check-labeling-status",
                "uuid.$": "$.uuid",
                "status.$": "$.status",
                "progress.$": "$.progress",
                "input.$": "$.next"
            },
            "Next": "Job complete?",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 6,
                    "BackoffRate": 1.1
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Labeling error"
                }
            ]
        },
        "Job complete?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.status",
                    "StringEquals": "COMPLETED",
                    "Next": "Index results"
                }
            ],
            "Default": "Wait for labeling"
        },
        "Labeling error": {
            "Type": "Task",
            "Resource": "${x0}",
            "Next": "Fail"
        },
        "Index results": {
            "Type": "Task",
            "Resource": "${x0}",
            "Parameters": {
                "operation": "index-results",
                "uuid.$": "$.uuid",
                "status": "NOT_STARTED",
                "progress": "0",
                "input.$": "$.next"
            },
            "Next": "Completed",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 2,
                    "BackoffRate": 1.2
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Indexing error"
                }
            ]
        },
        "Indexing error": {
            "Type": "Task",
            "Resource": "${x0}",
            "Next": "Fail"
        },
        "Fail": {
            "Type": "Fail"
        },
        "Completed": {
            "Type": "Task",
            "Resource": "${x0}",
            "Parameters": {
                "operation": "job-completed",
                "uuid.$": "$.uuid",
                "status.$": "$.status",
                "progress.$": "$.progress",
                "input.$": "$.next"
            },
            "End": true
        }
    }
}