source/main/face-indexer/stateMachineDefinition.json
{
    "Comment": "Update Face Indexer state machine to update indexed faces to search engine, db table, and metadata files generated by Media2Cloud",
    "StartAt": "Import collection or update face indexer?",
    "States": {
        "Import collection or update face indexer?": {
            "Type": "Choice",
            "Choices": [
                {
                    "And": [
                        {
                            "Variable": "$.input.action",
                            "IsPresent": true
                        },
                        {
                            "Variable": "$.input.action",
                            "StringEquals": "import"
                        }
                    ],
                    "Next": "Import collection"
                }
            ],
            "Default": "Prepare iterators"
        },
        "Import collection": {
            "Type": "Task",
            "Resource": "${UpdateFaceIndexerLambda.Arn}",
            "Parameters": {
                "operation": "StateImportCollection",
                "input.$": "$.input"
            },
            "Next": "More items?",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 4,
                    "BackoffRate": 1.2
                }
            ]
        },
        "More items?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Or": [
                        {
                            "Variable": "$.input.token",
                            "IsPresent": false
                        },
                        {
                            "Variable": "$.input.token",
                            "IsNull": true
                        }
                    ],
                    "Next": "Import collection completed"
                }
            ],
            "Default": "Import collection"
        },
        "Import collection completed": {
            "Type": "Succeed"
        },
        "Prepare iterators": {
            "Type": "Task",
            "Resource": "${UpdateFaceIndexerLambda.Arn}",
            "Parameters": {
                "operation": "StatePrepareIterators",
                "input.$": "$.input"
            },
            "Next": "Update record (iterations)",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 4,
                    "BackoffRate": 1.2
                }
            ]
        },
        "Update record (iterations)": {
            "Type": "Map",
            "MaxConcurrency": 40,
            "ItemsPath": "$.iterators",
            "ItemSelector": {
                "operation": "StateUpdateRecord",
                "itemId.$": "$$.Map.Item.Index",
                "itemData.$": "$$.Map.Item.Value"
            },
            "ItemProcessor": {
                "ProcessorConfig": {
                    "Mode": "INLINE"
                },
                "StartAt": "Update record (per content)",
                "States": {
                    "Update record (per content)": {
                        "Type": "Task",
                        "Resource": "${UpdateFaceIndexerLambda.Arn}",
                        "End": true,
                        "Retry": [
                            {
                                "ErrorEquals": [
                                    "States.ALL"
                                ],
                                "IntervalSeconds": 1,
                                "MaxAttempts": 4,
                                "BackoffRate": 1.2
                            }
                        ]
                    }
                }
            },
            "ResultPath": "$.iterators",
            "End": true
        }
    }
}
