source/main/ingest/video/stateMachineDefinition.json
{
    "Comment": "video ingest state machine to run mediainfo, start mediaconvert job to create proxy, and compute perceptual hashes",
    "StartAt": "Run mediainfo",
    "States": {
        "Run mediainfo": {
            "Type": "Task",
            "Resource": "${IngestVideoLambda.Arn}",
            "Parameters": {
                "operation": "run-mediainfo",
                "uuid.$": "$.uuid",
                "status": "NOT_STARTED",
                "progress": 0,
                "input.$": "$.input",
                "data.$": "$.data"
            },
            "Next": "Start and wait for mediaconvert job",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 2,
                    "BackoffRate": 1.2
                }
            ]
        },
        "Start and wait for mediaconvert job": {
            "Type": "Task",
            "Resource":"arn:aws:states:::lambda:invoke.waitForTaskToken",
            "Parameters": {
                "FunctionName": "${IngestVideoLambda}",
                "Payload": {
                    "token.$":"$$.Task.Token",
                    "operation": "start-transcode",
                    "uuid.$": "$.uuid",
                    "status": "NOT_STARTED",
                    "progress": 0,
                    "input.$": "$.input",
                    "data.$": "$.data"
                }
            },
            "TimeoutSeconds": 86400,
            "Next": "Has frame capture group?"
        },
        "Has frame capture group?": {
            "Type": "Choice",
            "Choices": [
                {
                    "And": [
                        {
                            "Variable": "$.input",
                            "IsPresent": true
                        },
                        {
                            "Variable": "$.input.aiOptions",
                            "IsPresent": true
                        },
                        {
                            "Variable": "$.input.aiOptions.framebased",
                            "IsPresent": true
                        },
                        {
                            "Variable": "$.input.aiOptions.framebased",
                            "BooleanEquals": true
                        },
                        {
                            "Variable": "$.input.aiOptions.frameCaptureMode",
                            "IsPresent": true
                        },
                        {
                            "Variable": "$.input.aiOptions.frameCaptureMode",
                            "NumericGreaterThan": 0
                        }
                    ],
                    "Next": "Compute perceptual hashes"
                }
            ],
            "Default": "Ingest completed"
        },
        "Compute perceptual hashes": {
            "Type": "Task",
            "Resource": "${IngestVideoComputeHashLambda.Arn}",
            "Parameters": {
                "operation": "compute-perceptual-hash",
                "uuid.$": "$.uuid",
                "overallStatus.$": "$.overallStatus",
                "input.$": "$.input",
                "data.$": "$.data",
                "status": "NOT_STARTED",
                "progress": 0
            },
            "Next": "More hashes?",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 2,
                    "BackoffRate": 1.2
                }
            ]
        },
        "More hashes?": {
            "Type": "Choice",
            "Choices": [
                {
                    "Variable": "$.status",
                    "StringEquals": "COMPLETED",
                    "Next": "Ingest completed"
                }
            ],
            "Default": "Compute perceptual hashes"
        },
        "Ingest completed": {
            "Type": "Succeed"
        }
    }
}
