source/image-analysis/stateMachineDefinition.json
{
    "StartAt": "Sanity check",
    "States": {
        "Sanity check": {
            "Type": "Pass",
            "Result": "start-image-analysis",
            "ResultPath": "$.operation",
            "Next": "Start image analysis"
        },
        "Start image analysis": {
            "Type": "Task",
            "Resource": "${x0}",
            "Next": "Completed",
            "Retry": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "IntervalSeconds": 1,
                    "MaxAttempts": 6,
                    "BackoffRate": 1.1
                }
            ],
            "Catch": [
                {
                    "ErrorEquals": [
                        "States.ALL"
                    ],
                    "Next": "Image analysis error"
                }
            ]
        },
        "Image analysis error": {
            "Type": "Fail"
        },
        "Completed": {
            "Type": "Succeed"
        }
    }
}